*{
    margin:0;
}
#navtop{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #fff200, #ff00b7);
    height: 40px;
    align-items: center;
}

#navtop li,#navbottom li{
    display: inline;
    padding: 5px 10px;
    cursor: pointer;
}



.top-btn{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
}
#navbottom{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    align-items: center;
    background-color: white;

}
.top-btn:hover{
    background-color: #ddf2f5;
    border: 1px solid pink;
}
#page-name{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color:brown;
}
#scroll a{
    padding: 5px 10px;
    text-decoration: none;
}
#scroll a:hover{
    background-color: rgb(205, 224, 224);
    color: black;
}
.img-content .img1{
    width: 100vw;
}
.img1{
    opacity: 0.9;
    margin-bottom: 0;

}
.line{
    position: absolute;
    top :260px;
    left: 200px;
    height: 200px;
    width: 3px;
    background: linear-gradient(to top, #4000ff, #00f7ff);
}
.img-data{
    position: absolute;
    top :250px;
    left: 250px;
    width: 70%;
}
.img-data h3,.img-data h2,.img-data p,.img-data button{
    margin: 10px;
    padding: 5px 10px;
}
.img-data .btn1{
    background: linear-gradient(to right, #0091ff, #fcfafb);
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid lightcyan;
}
.img-data .btn1:hover{
    background: linear-gradient(to left, #0091ff, #0091ff);
        color: white;
        transition: 1s ease-in-out;
}
.img-data .btn2{
    background-color: lightseagreen;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid lightcyan;
    color: white;
}
.img-data .btn2:hover{
    background-color: rgb(229, 241, 241);
    color: rgb(5, 16, 97);
    border: 1px solid seagreen;
    transition: 1s ease-in-out;
}
.timeline{
    display: flex;
    justify-content: center;
}
.timeline li{
    list-style: none;
    padding: 5px 15px;
    width: 330px;
}
.timeline h3{
    padding: 5px 10px;
    margin: 5px 50px;
}
.timeline-box{
    padding: 10px 10px;
    margin-top: -5px;
    background: linear-gradient(to right, #fff200, #ff00b7);
    height: 100px;
    color: white;
    font-family:'Times New Roman', Times, serif;
}
.about-content{
    display: inline;
    width: 30%;
    margin: 20px;
    padding: 10px;
   
}
.about-content h2,.about-content h4,.about-content p{
    padding: 10px;
}
.btn4{
    border: 1px solid transparent;
    padding: 6px 15px;
    border-radius: 15px;
    background: linear-gradient(to right, #fff200, #ff00b7);
    color: white;
    margin: 5px 10px;
    cursor: pointer;
}
.btn4:hover{
    background: white;
    color: rgb(254, 5, 84);
    border: 1px solid rgb(254, 5, 134);
    transition: 1s ease-in-out;
    
}
.about-box{
    display: flex;
    justify-content: center;
}
.about-img{
    width: 30%;
    margin: 20px;
    padding: 10px;
}
hr{
    width: 150px;
    height: 2px;
    background: linear-gradient(to right, #fff200, #ff00b7);
   
}
.footer{
    background-color: rgb(235, 228, 228);
    margin-top: 30px;
    padding: 10px;
}
.footer-name{
    position: relative;
    left: 250px;
    padding: 15px;
}
.footer-name h2{
    padding: 10px;
}
.footer-imgs{
    display: flex;
    justify-content: center;
}
.footer-imgs img{
    margin: 10px;
    border: 1px transparent;
    border-radius: 15px;
    cursor: pointer;
}
/* .footer-imgs img:hover{
    opacity: 0.8;
} */
.last-text{
    background-color: white;
    color: black;
    height: 20px;
    width: 130px;
    padding: 5px 10px;
    cursor: pointer;
}
#text1{
    position: relative;
    top: -25px;
    left: 400px;
    text-align: center;
    border: 1px solid black;

}
#text2{
    position: relative;
    top: -60px;
    left: 770px;
    text-align: center;
    border: 1px solid black;

}
#text3{
    position: relative;
    top: -93px;
    left: 1140px;
    text-align: center;
    border: 1px solid black;

}
.last-text:hover, .footer-imgs img:hover{
    opacity: 0.8;
}

